

<div class="text-center">
    <h1>{{ h1 }}</h1> 
<div class="container"> 
    <div role="status" > 
        <span class="sr-only" id="loading"></span> 
    </div>
</div> 
<table class="table table-responsive table-hover justify-content-center" id='tab'> 
    <thead > 
    <tr> 
        <th scope="col">TaskID</th> 
        <th scope="col">Date </th> 
        <th scope="col">Estm. Time </th> 
        <th scope="col">Estm. Duration (Hrs) </th> 
        <th scope="col">Status</th> 
        <th scope="col">Task</th> 
        <th scope="col">Team (Running / Monitoring)</th> 
        <th scope="col">Task Note</th> 
        <th scope="col">Job Type</th> 
        <th scope="col">Dependency</th> 
        <th scope="col">Contact Team</th> 
        <th scope="col">Business Notification</th> 
        <th scope="col">Owner</th> 
    </tr> 
    </thead> 
    <tbody> 
    <tr *ngFor="let e of lis;"> 
        <td>
            <button class="btn btn-link" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"><b>
                {{ e.TaskID}}
            </b></button>
        </td> 
        <td>{{ e.Date }}</td> 
        <td> {{ e.EstimatedTime }}</td>
        <td>{{ e.EstimatedDuration }}</td>
        <td>
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success pl-2 pr-2" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="10">{{ e.Status }}</div>
            </div>
        </td> 
        <td>{{ e.Task }}</td> 
        <td>{{ e.ResponsibleTeam }}</td> 
        <td>{{ e.TaskNote }}</td> 
        <td>{{ e.JobType }}</td> 
        <td>{{ e.Dependency }}</td> 
        <td>{{ e.ContactTeam }}</td> 
        <td>{{ e.BusinessNotification }}</td>
        <td>{{ e.Owner }}</td>
    </tr> 
    </tbody> 
</table>      
</div>



